.CompanyCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  height: 30px;
}

.ProgressList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.NameContainer {
  width: 50px;
  text-align: left;
}

.InfoPanel {
  width: 90vw;
}

.ProgressSection {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}